openapi: 3.1.0
info:
  title: Global FDI Monitor API
  version: 3.0.0
  description: |
    REST API for the Global FDI Monitor platform.
    215 economies · 50 AI agents · Real-time signals · GFR rankings.
  contact:
    email: api@fdimonitor.org
    url: https://fdimonitor.org
  license:
    name: Commercial
    url: https://fdimonitor.org/terms

servers:
  - url: https://fdi-backend-api.gentleglacier-ae9701ca.uaenorth.azurecontainerapps.io
    description: Production (Azure UAE North)
  - url: http://localhost:3001
    description: Local development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        success: { type: boolean, example: false }
        error:
          type: object
          properties:
            code:    { type: string }
            message: { type: string }
    Signal:
      type: object
      properties:
        id:          { type: string, example: MSS-GFS-ARE-20260317-0001 }
        grade:       { type: string, enum: [PLATINUM, GOLD, SILVER, BRONZE] }
        company:     { type: string }
        economy:     { type: string }
        iso3:        { type: string, maxLength: 3 }
        sector:      { type: string, maxLength: 1, description: ISIC sector code }
        capex_usd:   { type: integer }
        sci_score:   { type: number, minimum: 0, maximum: 100 }
        signal_type: { type: string, enum: [Greenfield, Expansion, M&A, JV, Platform, Committed] }
        status:      { type: string, enum: [CONFIRMED, ANNOUNCED, RUMOURED, COMPLETED] }
        signal_date: { type: string, format: date }
    GFRScore:
      type: object
      properties:
        iso3:      { type: string }
        quarter:   { type: string, example: Q1 2026 }
        composite: { type: number }
        tier:      { type: string, enum: [FRONTIER, HIGH, MEDIUM, EMERGING, DEVELOPING] }
        rank:      { type: integer }
        macro:     { type: integer }
        policy:    { type: integer }
        digital:   { type: integer }
        human:     { type: integer }
        infra:     { type: integer }
        sustain:   { type: integer }
    Economy:
      type: object
      properties:
        iso3:         { type: string }
        name:         { type: string }
        region:       { type: string }
        income_group: { type: string }
        gdp_usd_b:    { type: number }
        fdi_inflows_b:{ type: number }
        population_m: { type: number }
    Provenance:
      type: object
      properties:
        source_name:        { type: string }
        source_url:         { type: string, format: uri }
        source_tier:        { type: string }
        retrieved_at:       { type: string, format: date-time }
        verification_hash:  { type: string }
        reference_code:     { type: string }
        completeness:       { type: number, minimum: 0, maximum: 1 }

paths:
  /api/v1/health:
    get:
      summary: Health check
      security: []
      responses:
        "200":
          description: System health
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:  { type: string }
                      version: { type: string }
                      mode:    { type: string }
                      db:      { type: string }
                      redis:   { type: string }

  /api/v1/auth/register:
    post:
      summary: Register new organisation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:     { type: string, format: email }
                password:  { type: string, minLength: 8 }
                full_name: { type: string }
                org_name:  { type: string }
                org_type:  { type: string }
                country:   { type: string }
      responses:
        "200":
          description: Registration successful — returns JWT tokens
        "409":
          description: Email already registered

  /api/v1/auth/login:
    post:
      summary: Authenticate user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string }
                password: { type: string }
      responses:
        "200": { description: Login successful }
        "401": { description: Invalid credentials }

  /api/v1/signals:
    get:
      summary: List FDI signals
      parameters:
        - { name: grade,   in: query, schema: { type: string } }
        - { name: iso3,    in: query, schema: { type: string } }
        - { name: sector,  in: query, schema: { type: string } }
        - { name: from,    in: query, schema: { type: integer, default: 0 } }
        - { name: size,    in: query, schema: { type: integer, default: 20 } }
      responses:
        "200":
          description: Signal list with metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      signals: { type: array, items: { $ref: '#/components/schemas/Signal' } }
                      total:   { type: integer }

  /api/v1/gfr:
    get:
      summary: GFR Rankings — all 215 economies
      parameters:
        - { name: quarter, in: query, schema: { type: string, default: "Q1 2026" } }
      responses:
        "200":
          description: Full GFR rankings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rankings: { type: array, items: { $ref: '#/components/schemas/GFRScore' } }
                      total:    { type: integer }
                      quarter:  { type: string }

  /api/v1/economies:
    get:
      summary: List economies
      parameters:
        - { name: region, in: query, schema: { type: string } }
        - { name: income, in: query, schema: { type: string } }
      responses:
        "200":
          description: Economy list

  /api/v1/reports/generate:
    post:
      summary: Generate custom report (deducts FIC)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, economy]
              properties:
                type:    { type: string, enum: [CEGP,MIB,ICR,SPOR,TIR,SBP,SER,SIR,RQBR,FCGR] }
                economy: { type: string }
                sector:  { type: string }
      responses:
        "200": { description: Report generated with reference code }
        "402": { description: Insufficient FIC balance }

  /api/v1/forecast:
    get:
      summary: FDI forecasts — 9 horizons
      parameters:
        - { name: economy,   in: query, schema: { type: string, default: ARE } }
        - { name: indicator, in: query, schema: { type: string } }
      responses:
        "200": { description: Forecast scenarios }

  /api/v1/billing/checkout:
    post:
      summary: Create Stripe checkout session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:       { type: string, enum: [professional_monthly,professional_annual,enterprise,fic_50,fic_100,fic_500] }
                return_url: { type: string }
                cancel_url: { type: string }
      responses:
        "200":
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session_id:   { type: string }
                      checkout_url: { type: string, format: uri }

  /api/v1/metrics:
    get:
      summary: System metrics and uptime
      responses:
        "200": { description: Runtime metrics }
