openapi: 3.1.0
info:
  title: Global FDI Monitor API
  description: |
    The GFM API provides real-time FDI intelligence across 215 economies.
    Authentication uses JWT Bearer tokens obtained from /auth/login.
    FIC credits are consumed for premium operations.
  version: 3.0.0
  contact:
    name: GFM Support
    email: api@fdimonitor.org
    url: https://fdimonitor.org
  license:
    name: Commercial
    url: https://fdimonitor.org/terms

servers:
  - url: https://api.fdimonitor.org
    description: Production
  - url: http://localhost:3001
    description: Development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Signal:
      type: object
      properties:
        reference_code: { type: string, example: "MSS-J-ARE-20260317-0001" }
        company:        { type: string, example: "Microsoft Corporation" }
        economy:        { type: string, example: "United Arab Emirates" }
        iso3:           { type: string, example: "ARE" }
        sector:         { type: string, example: "J" }
        signal_type:    { type: string, enum: [Greenfield, Expansion, JV, M&A, Reinvestment] }
        capex_m:        { type: number, example: 850 }
        sci_score:      { type: number, example: 91.2 }
        grade:          { type: string, enum: [PLATINUM, GOLD, SILVER, BRONZE] }
        provenance:     { type: object, properties: { hash: { type: string }, source: { type: string } } }
    GFRScore:
      type: object
      properties:
        iso3:           { type: string, example: "ARE" }
        economy:        { type: string, example: "United Arab Emirates" }
        gfr_composite:  { type: number, example: 80.0 }
        tier:           { type: string, enum: [FRONTIER, HIGH, MEDIUM, DEVELOPING, EMERGING] }
        rank:           { type: integer, example: 6 }
        macro_score:    { type: number }
        policy_score:   { type: number }
        digital_score:  { type: number }
        human_score:    { type: number }
        infra_score:    { type: number }
        sustain_score:  { type: number }
    ErrorResponse:
      type: object
      properties:
        error:   { type: string }
        message: { type: string }
        code:    { type: string }

paths:
  /api/v1/health:
    get:
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  db:     { type: string }
                  redis:  { type: string }
                  ws_clients: { type: integer }

  /api/v1/auth/register:
    post:
      summary: Register new account (starts free trial)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, full_name, organisation]
              properties:
                email:        { type: string, format: email }
                password:     { type: string, minLength: 8 }
                full_name:    { type: string }
                organisation: { type: string }

  /api/v1/auth/login:
    post:
      summary: Authenticate and get JWT tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string }
                password: { type: string }
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token:  { type: string }
                      refresh_token: { type: string }
                      user:          { type: object }

  /api/v1/signals:
    get:
      summary: List FDI signals (real-time)
      description: Returns signals sorted by SCI score. Grade filter supports PLATINUM, GOLD, SILVER, BRONZE.
      parameters:
        - name: iso3   
          in: query
          schema: { type: string, example: "ARE" }
        - name: sector 
          in: query
          schema: { type: string, example: "J" }
        - name: grade  
          in: query
          schema: { type: string, enum: [PLATINUM, GOLD, SILVER, BRONZE] }
        - name: size   
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Signal list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      signals: { type: array, items: { '$ref': '#/components/schemas/Signal' } }
                      total:   { type: integer }

  /api/v1/gfr:
    get:
      summary: Get GFR rankings for all 215 economies
      parameters:
        - name: quarter
          in: query
          schema: { type: string, example: "Q1-2026" }
        - name: tier
          in: query
          schema: { type: string }
      responses:
        '200':
          description: GFR rankings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rankings: { type: array, items: { '$ref': '#/components/schemas/GFRScore' } }

  /api/v1/gfr/{iso3}:
    get:
      summary: Get GFR profile for a single economy
      parameters:
        - name: iso3
          in: path
          required: true
          schema: { type: string, example: "ARE" }

  /api/v1/reports/generate:
    post:
      summary: Generate an AI intelligence report (consumes FIC)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [report_type, parameters]
              properties:
                report_type: { type: string, enum: [MIB, ICR, CEGP, FCGR, TIR, SBP, SER, SIR, RQBR, SPOR] }
                parameters:  { type: object }
      responses:
        '200':
          description: Report generation initiated
        '402':
          description: Insufficient FIC credits
          content:
            application/json:
              schema: { '$ref': '#/components/schemas/ErrorResponse' }

  /api/v1/billing/fic:
    get:
      summary: Get FIC credit balance for authenticated organisation
      responses:
        '200':
          description: FIC balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object, properties: { fic_balance: { type: integer } } }

  /api/v1/billing/fic/topup:
    post:
      summary: Purchase FIC credits (Stripe checkout)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pack_id]
              properties:
                pack_id: { type: string, enum: [fic_50, fic_100, fic_500] }
      responses:
        '200':
          description: Checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object, properties: { checkout_url: { type: string } } }

  /api/v1/companies:
    get:
      summary: Company database with IMS scores
      parameters:
        - { name: sector, in: query, schema: { type: string } }
        - { name: size, in: query, schema: { type: integer, default: 20 } }
      responses:
        '200': { description: Company list }

  /api/v1/forecast:
    get:
      summary: FDI forecast to 2030 (Bayesian VAR + Prophet)
      description: Consumes 12 FIC credits
      parameters:
        - { name: iso3, in: query, schema: { type: string, example: ARE } }
        - { name: horizon, in: query, schema: { type: integer, default: 6 } }
      responses:
        '200': { description: Forecast time series with P10/P50/P90 }
        '402': { description: Insufficient FIC credits }

  /api/v1/scenarios:
    get:
      summary: Scenario planning results
      responses:
        '200': { description: Scenario list }
    post:
      summary: Run Monte Carlo simulation (8 FIC)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                iso3:    { type: string }
                gdp:     { type: number }
                n_simulations: { type: integer, default: 1000 }
      responses:
        '200': { description: Simulation results with P10/P50/P90 }

  /api/v1/publications:
    get:
      summary: Publications library (5 FIC per download)
      responses:
        '200': { description: Publications list }

  /api/v1/pipeline/deals:
    get:
      summary: Investment pipeline CRM
      responses:
        '200': { description: Deal list }
    post:
      summary: Add deal to pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company, economy, stage]
              properties:
                company: { type: string }
                economy: { type: string }
                stage:   { type: string, enum: [prospect, qualifying, proposal, negotiation, closed_won, closed_lost] }
      responses:
        '201': { description: Deal created }

  /api/v1/benchmarking:
    get:
      summary: Compare up to 5 economies across all GFR dimensions
      parameters:
        - name: isos
          in: query
          description: Comma-separated ISO3 codes (max 5)
          schema: { type: string, example: 'ARE,SAU,IND,SGP,DEU' }
      responses:
        '200': { description: Benchmarking comparison data }

  /api/v1/corridors:
    get:
      summary: Bilateral FDI corridor analysis
      parameters:
        - { name: from, in: query, schema: { type: string, example: USA } }
        - { name: to,   in: query, schema: { type: string, example: ARE } }
      responses:
        '200': { description: Corridor data with 5-year historical }

  /api/v1/search:
    get:
      summary: Global search across all data types
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: Search results }
