openapi: 3.1.0
info:
  title: Global FDI Monitor API
  description: World's first fully integrated FDI intelligence platform API
  version: 3.0.0
  contact:
    email: api@fdimonitor.org
  license:
    name: Proprietary
servers:
  - url: https://fdi-backend-api.gentleglacier-ae9701ca.uaenorth.azurecontainerapps.io
    description: Production
  - url: http://localhost:3001
    description: Local development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Signal:
      type: object
      properties:
        id: {type: string, example: MSS-GFS-ARE-20260317-0001}
        grade: {type: string, enum: [PLATINUM, GOLD, SILVER, BRONZE]}
        company: {type: string}
        hq: {type: string}
        iso3: {type: string, minLength: 3, maxLength: 3}
        economy: {type: string}
        sector: {type: string}
        capex_usd: {type: integer}
        sci_score: {type: number, minimum: 0, maximum: 100}
        signal_type: {type: string}
        status: {type: string}
        signal_date: {type: string, format: date}

    Economy:
      type: object
      properties:
        iso3: {type: string}
        name: {type: string}
        region: {type: string}
        income: {type: string}
        gdp_b: {type: number}
        fdi_b: {type: number}
        pop_m: {type: number}

    GFRScore:
      type: object
      properties:
        iso3: {type: string}
        composite: {type: number}
        rank: {type: integer}
        tier: {type: string, enum: [FRONTIER, HIGH, MEDIUM, EMERGING, DEVELOPING]}
        macro: {type: integer}
        policy: {type: integer}
        digital: {type: integer}
        human: {type: integer}
        infra: {type: integer}
        sustain: {type: integer}

    TokenResponse:
      type: object
      properties:
        accessToken: {type: string}
        refreshToken: {type: string}
        expiresIn: {type: integer}

    Error:
      type: object
      properties:
        success: {type: boolean, example: false}
        error:
          type: object
          properties:
            code: {type: string}
            message: {type: string}

paths:
  /api/v1/health:
    get:
      tags: [System]
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, example: ok}
                  version: {type: string}
                  mode: {type: string, enum: [production, demo]}

  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: Register new account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string, minLength: 8}
                full_name: {type: string}
                org_name: {type: string}
                org_type: {type: string}
                country: {type: string}
      responses:
        '200':
          description: Registration successful
        '409':
          description: Email already exists

  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string}
                password: {type: string}
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      tokens: {$ref: '#/components/schemas/TokenResponse'}
        '401':
          description: Invalid credentials

  /api/v1/signals:
    get:
      tags: [Signals]
      summary: Get live FDI signals
      parameters:
        - name: grade
          in: query
          schema: {type: string, enum: [PLATINUM, GOLD, SILVER, BRONZE]}
        - name: iso3
          in: query
          schema: {type: string}
        - name: sector
          in: query
          schema: {type: string}
        - name: from
          in: query
          schema: {type: integer, default: 0}
        - name: size
          in: query
          schema: {type: integer, default: 20, maximum: 100}
      responses:
        '200':
          description: Signal list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      signals:
                        type: array
                        items: {$ref: '#/components/schemas/Signal'}
                      total: {type: integer}

  /api/v1/gfr:
    get:
      tags: [GFR Rankings]
      summary: Get GFR rankings
      parameters:
        - name: quarter
          in: query
          schema: {type: string, default: 'Q1 2026'}
      responses:
        '200':
          description: Rankings

  /api/v1/gfr/{iso3}:
    get:
      tags: [GFR Rankings]
      summary: Get GFR score for economy
      parameters:
        - name: iso3
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: GFR score
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: '#/components/schemas/GFRScore'}

  /api/v1/economies:
    get:
      tags: [Economies]
      summary: List all 215 economies
      parameters:
        - name: region
          in: query
          schema: {type: string, enum: [EAP, ECA, LAC, MENA, NAM, SAS, SSA]}
        - name: income
          in: query
          schema: {type: string, enum: [HIC, UMIC, LMIC, LIC]}
      responses:
        '200':
          description: Economy list

  /api/v1/economies/{iso3}:
    get:
      tags: [Economies]
      summary: Get economy detail with signals
      parameters:
        - name: iso3
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Economy detail

  /api/v1/reports/generate:
    post:
      tags: [Reports]
      summary: Generate custom report (costs FIC)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, economy]
              properties:
                type: {type: string, enum: [CEGP, MIB, ICR, SPOR, TIR, SBP, SER, SIR, RQBR, FCGR]}
                economy: {type: string}
                sector: {type: string}
      responses:
        '200':
          description: Report generated
        '402':
          description: Insufficient FIC credits

  /api/v1/forecast:
    get:
      tags: [Forecasts]
      summary: Get FDI/economic forecast
      parameters:
        - name: economy
          in: query
          schema: {type: string, default: ARE}
        - name: indicator
          in: query
          schema: {type: string, default: fdi_inflows_usd_b}
      responses:
        '200':
          description: 9-horizon forecast with 3 scenarios

  /api/v1/pmp/missions:
    post:
      tags: [Mission Planning]
      summary: Generate investment promotion mission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [economy, sector]
              properties:
                economy: {type: string}
                sector: {type: string}
      responses:
        '200':
          description: Mission dossier with 5 target companies

  /api/v1/billing/plans:
    get:
      tags: [Billing]
      summary: Get subscription plans
      security: []
      responses:
        '200':
          description: Plans list

  /api/v1/billing/webhook:
    post:
      tags: [Billing]
      summary: Stripe webhook endpoint
      security: []
      responses:
        '200':
          description: Webhook processed
